
.invoice--list--header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  line-height: 30px;

}

.invoice--list--header_title {
  font-size: .8rem;
  //width: 100px!important;
  padding: 0 10px;

}

.invoice--list--body {
  padding: 0!important;
}
$color: #e1e8e2;

[class*="invoice--item--"] {

  padding: 0!important;
  line-height: 1.5rem;
  font-weight: 500;
  width: 100%;
  &:nth-child(even) {
    background: fade_out($color, .1);
  }
  &:last-of-type {
    border-bottom: 1px solid grey;
  }

}
