@import "../../sass/colors";

.flex--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  border-top: 1px solid $color-1;
}

.form--section {
  height: auto;
  margin: 0 0 20px 0;

  .form--section--title {
   margin: 0 0 20px 0;
  }

}

.invoice--general--data {
  width: 30%;
}

.seller--data, .client--data {
  width: 45%;
}

.form--input {
  display: flex;
  flex-direction: column;

  label {
    //position: sticky;
    font-size: .9rem;
    color: $color-4;

  }

  input, select{
    position: relative;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid $color-4;
    border-radius: 10px;
    color: $color-4;
    @include backgroundColor($color-2);
    margin: 0 0 10px 0;

    &:focus {
      @include backgroundColor($color-3);
    }

    &::placeholder {
      color: $color-4;
    }

    option {
      border-radius: 10px;
    }

  }

  .form--textarea {
    font-family: 'Nunito', sans-serif;
    @include backgroundColor($color-2);
    border: 1px solid $color-1;
    padding: 5px;
    height: 100px;
    max-width: 350px;
    max-height: 150px;
    outline: none;
  }
}

.invoice--details--buttons--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .button--regular {
    margin-top: 0
  }

}