@import "../../sass/colors";

.footer {
  position: relative;
  display: block;
  bottom: 5px;
  margin-top: 10px;
  //margin-left: calc(50% - 46%);
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 10px;

  @include backgroundColor($color-2);

  .footer--text {
    position: absolute;
  }

  P {
    display: inline-block;
    width: auto;
    line-height: 40px;

    &:after {
      content: '|';
      color: #10a32d;
      margin: 0 30px;
    }
    &:last-of-type {
      clear: bottom;
      margin-right: 0;

      &:after {
        content: '';
        margin-left: 0;
      }
    }

  }

}