@import "../general-scss/colors";

.box--controller {


  .controller {
    display: inline-block;
    height: 30px;
    margin: 0 20px 0 20px;
    padding: 3px 10px;
    transition: all .3s ease-in-out;
    color: $color-4;
  }

  .controller--selected {
    border: 1px solid fade_out($color-4, .3);
    border-radius: 10px;
    @include backgroundColor($color-2);
    color: $color-1;
  }

  .controls {
    @include backgroundColor($color-2);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    padding: 5px 0 5px 0!important;
    margin-left: calc(50% - 22%);
    border-bottom: 1px solid fade_out($color-4, .3);
    @include boxShadow($color-3);
    margin-bottom: 10px;
  }
}

.box--form {


  .form {
    @include backgroundColor($color-2);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: calc(50% - 22%);
    @include boxShadow($color-3);
    border: 1px solid fade_out($color-4, .3);
    margin-bottom: 10px;
    height: 280px;
  }

  .form--body {
    text-align: center;

    h1 {
      font-size: 1.3rem;
      height: 2.3rem;
      color: $color-4;
      margin: 10px 0 10px 0;
      border-bottom: 1px solid fade_out($color-4, .6);
    }

    .alert--msg {
      font-size: 1.1rem;
      color: $color-5;
    }

    .form--input {
      margin: 5px 0 5px 0;
      padding: 5px;
      color: $color-4;
      height: 30px;
      border-radius: 10px;
      outline: none;
      border: none;

      &::placeholder {
        color: $color-4;
      }


      &:focus {
        background-color: fade_out($color-1, .3); ;
      }
    }

    .validation-error {
      display: block;
      font-size: .8rem;
      width: 100%;
      color: $color-5;
      text-align: left;
    }

    .button {
      height: 30px;
      width: 80px;
      border: none;
      outline: none;
      border-bottom: 1px solid fade_out($color-4, .3);
      background: none;
      transition: all .3s ease-in-out;

  &:hover {
      border: 1px solid fade_out($color-4, .3);
      border-radius: 10px;
      @include backgroundColor($color-2);
      color: $color-4;
  }
    }

    .form--input--password {
      input {
        width: 90%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button {
        width: 10%!important;
        border-radius: 0 10px 10px 0;
        border: 1px solid fade_out($color-4, .3);
        color: $color-4;
        @include backgroundColor($color-2);

        &:hover {
          @include backgroundColor($color-1);
          border-radius: 0 10px 10px 0;
        }
      }

    }
  }

  .password--strength {
    position: relative;
    height: 5px;

    div {
      height: 5px;
      display: none!important;
      transition: all 1s ease-in-out;
    }

    .password--weak {
      background-color: $color-5;
    }
    .password--medium {
      background-color: $color-6;
    }
    .password--strong {
      background-color: $color-1;
    }

    .show {
      display: block!important;
      transition: all 1s ease-in-out;

    }

  }


}
