@import "sass/grid";
@import "sass/colors";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background--image {
  position: fixed;
  background: url("assets/img/apartment-apartment-building-architecture-323705.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  font-size: 1.5rem;
}


.container {
  height: auto;
  font-family: 'Nunito', sans-serif;

}

.app {
  text-align: center;
}