@import "general-scss/grid";
@import "general-scss/colors";
@import "main-controller/loginForm";
@import "top-nav/topNav";
@import "invoices/invoiceList";
@import "top-nav/topNav";
@import "loading-bar/loadingBar";
@import "main-panel/mainPanel";
@import "side-nav/sideNav";
@import "footer/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background--image {
  position: fixed;
  background: url("assets/img/apartment-apartment-building-architecture-323705.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
}


.container {
  height: auto;
}

.background--shadow {

  @include backgroundShadow;


}
.app {
  text-align: center;
}