@import "../../../sass/colors";

.button--regular {
  margin-top: 5px;
  margin-right: 10px;
  display: block;
  font-size: .9rem;
  color: $color-4;
  text-decoration: none;
  width: auto;
  padding: 5px;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
  text-align: center;

  &:hover {
    border: 1px solid $color-4;
    @include backgroundColor($color-2)
    color: $color-1;
    border-radius: 10px;
  }
}